DB_TYPE=mssql
DB_HOST=localhost
DB_PORT=
DB_INSTANCE=SQLEXPRESS
DB_USERNAME=sa
DB_PASSWORD=
DB_NAME=nestjs_tasks
DB_SYNCHRONIZE=true

JWT_ACCESS_SECRET=change-me-access-super-secret-256bits
JWT_REFRESH_SECRET=change-me-refresh-super-secret-256bits
